.good-day-user,
.take-control {
  position: absolute;
  top: 69px;
  left: -53px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 329px;
  height: 94px;
}
.take-control {
  top: 100px;
  left: -24px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.icon-arrow-left {
  position: absolute;
  height: 3.82%;
  width: 9.49%;
  top: 2.13%;
  right: 86.41%;
  bottom: 94.05%;
  left: 4.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.page-3-child {
  position: absolute;
  top: 85px;
  left: 262px;
  border-radius: 50%;
  background: linear-gradient(
    102.72deg,
    #fbf3e9,
    #fcf2e5 42.19%,
    #f5f4e1 93.23%
  );
  width: 101px;
  height: 101px;
}
.image-3-icon {
  position: absolute;
  top: 92px;
  left: 281px;
  width: 64px;
  height: 77px;
  object-fit: cover;
}
.page-3-item {
  position: absolute;
  top: 344px;
  left: 43px;
  border-radius: 50%;
  background: linear-gradient(
    102.72deg,
    #dcd4ca,
    #fcf2e5 42.19%,
    #f5f4e1 93.23%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 304px;
  height: 304px;
  cursor: pointer;
}
.camera {
  position: absolute;
  top: 569px;
  left: 82px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 65px;
}
.press-the-button {
  margin: 0;
}
.press-the-button-container1 {
  line-break: anywhere;
  width: 100%;
}
.press-the-button-container {
  position: absolute;
  top: 265px;
  left: -43px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 475px;
  height: 43px;
}
.icon-camera {
  position: absolute;
  height: 22.63%;
  width: 55.38%;
  top: 45.85%;
  right: 22.31%;
  bottom: 31.52%;
  left: 22.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.page-3 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
