.icon-arrow-left1 {
  position: absolute;
  height: 3.82%;
  width: 9.49%;
  top: 2.37%;
  right: 84.87%;
  bottom: 93.82%;
  left: 5.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.good-day-user1,
.take-control1 {
  position: absolute;
  top: 67px;
  left: -57px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 329px;
  height: 94px;
}
.take-control1 {
  top: 98px;
  left: -28px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.page-5-child {
  position: absolute;
  top: 83px;
  left: 258px;
  border-radius: 50%;
  background: linear-gradient(
    102.72deg,
    #fbf3e9,
    #fcf2e5 42.19%,
    #f5f4e1 93.23%
  );
  width: 101px;
  height: 101px;
}
.image-4-icon {
  position: absolute;
  top: 90px;
  left: 277px;
  width: 64px;
  height: 77px;
  object-fit: cover;
}
.press-the-button1 {
  margin: 0;
}
.press-the-button-container3 {
  line-break: anywhere;
  width: 100%;
}
.press-the-button-container2 {
  position: absolute;
  top: 268px;
  left: -43px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 475px;
  height: 43px;
}
.page-5-item {
  position: absolute;
  top: 347px;
  left: 41px;
  border-radius: 50%;
  background: linear-gradient(
    102.72deg,
    #fbf3e9,
    #fcf2e5 42.19%,
    #f5f4e1 93.23%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 307px;
  height: 307px;
}
.vector-icon {
  position: absolute;
  height: 21.68%;
  width: 29.74%;
  top: 47.16%;
  right: 35.38%;
  bottom: 31.16%;
  left: 34.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.microphone {
  position: absolute;
  top: 564px;
  left: 81px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 66px;
}
.page-5 {
  position: relative;
  background-color: #2d265a;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
