.snap {
  position: absolute;
  top: 800px;
  left: -43px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 475px;
  height: 43px;
  cursor: pointer;
}
.page-4 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  color: var(--color-darkslategray);
  font-family: var(--font-prompt);
}
.camera {
  position: fixed;
  top: 50%;
  right: 100%; /* Adjust the right property to your desired position */
}


.result {
  position: relative;
  top: 0%;
  left: 100%;
  width : 0%;
  height: 844px;
  display: flex;
  align-items: center;
  transition: 0.4s;  
}

.result.hasPhoto {
  left: 0;
}

video {
  transform: scaleX(-1); /* Mirror the video horizontally */
  width: 100%;
  max-width: 100%;
  height: 844px;
  margin-left: 200px; /* Adjust the margin-left value to move the video to the right */
}



.snap-photo {
  position: relative; /* Change to relative to keep it in the flow */
  margin-top: 500px;
  left: -250px;

  appearance: none;
  border: none;
  outline: none;

  padding: 8px 100px;
  background-image: linear-gradient(to right, #FF66C4 50%, #82CAFF 50%);
  background-position: 0%;
  background-size: 200%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  border-radius: 35px;
  transition: background-position 0.4s; /* Specify the property for transition */
  cursor: pointer;
}

.snap-photo:hover {
  background-position: 100%;
}